<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% if name == 'feyswalo' %}
    ndio feyswal
    otea iyo
    {% else %}
    jambazi
    {% endif %}

    <h1>hellow there man is he {{ name }}</h1>

    <a href="/playground/for-my-student">go to about</a>
</body>

<script>
    setInterval(() => {
        window.location = '';
    }, 2000);
</script>

</html>