<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="row justify-content-center">
        <div class="col-md-8 p-3">
            <form action="/store/store-product" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="Price">Price</label>
        {{ form.price }}
      </div>
      <div>
        <label for="description">Description</label>
        {{ form.description }}
      </div>
      <div>
        <label for="tittle">Title</label>
          {{ form.tittle }}
      </div>
      <div>
        <label for="inventory">Inventory</label>
          {{ form.inventory }}
      </div>
      <div>
        <label for="promotion">Promotion</label>
        {{ form.promotion }}
      </div>
      <div>
        <label for="last_update"></label>
        {{ form.last_update }}
      </div>
      <div>
        <label for="collection"></label>
        {{ form.collection }}
      </div>
        </div>
    </div>

      <!-- <div>
        <label for="description">description</label>
        <input type="text" id="description" name="description" />
      </div>

      <div>
        <label for="price">price</label>
        <input type="text" id="price" name="price" />
      </div>

      <div>
        <label for="inventory">inventory</label>
        <input type="text" id="inventory" name="inventory" />
      </div>

      <div>
        <label for="last_update">last_update</label>
        <input type="text" id="last_update" name="last_update" />
      </div>

      <div>
        <label for="collection">collection</label>
        <input type="text" id="collection" value="1" name="collection" />
      </div>

      <div>
        <label for="promotion">promotion</label>
        <input type="text" id="promotion" value="1" name="promotion" />
      </div> -->

      <div>
        <button name="submit" type="submit">submit</button>
      </div>
    </form>
  </body>
</html>
